name: Auto-merge Release Please PRs

on:
  pull_request:
    types: [labeled]

jobs:
  enable-auto-merge:
    if: "contains(github.event.pull_request.labels.*.name, 'autorelease: pending')"
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          pull-request-id: ${{ github.event.pull_request.node_id }}
          merge-method: squash
